Source: usb-ircontrol
Section: video
Priority: extra
Maintainer: Alexander Grothe <seahawk1986@hotmail.com>
Build-Depends: debhelper (>= 8.0.0), liblircclient-dev, libusb-dev 
Standards-Version: 3.9.4

Package: usb-ircontrol
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: USB IR-Control reconfigures the USB-IRMP Receiver ...

